$color-primary-1: hsl(346, 89%, 47%);
$color-primary-2: hsl(346, 89%, 57%);
$color-primary-3: hsl(346, 89%, 62%);
$color-primary-4: hsl(346, 89%, 67%);

$color-white-1: hsl(0, 0%, 100%);
$color-white-2: hsl(0, 0%, 95%);

html,
* {
  box-sizing: border-box;
}

body {
  font: caption;
}

input {
  font: caption;
  padding: 0.5em;
  border: 1px dashed $color-primary-2;
  background-color: $color-primary-4;

  &:not(:first-of-type) {
    border-left: none;
  }
}

button,
.button,
input[type="submit"] {
  background-color: $color-primary-2;
  border: 1px dashed $color-primary-1;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  color: white;
  padding: 0.5em;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-4;
  }

  &:active {
    background-color: $color-primary-3;
  }

  &:disabled {
    background-color: lighten($color-primary-2, 20%);
    border: 1px dashed lighten($color-primary-2, 20%);
    cursor: not-allowed;
  }
}

button.full-width,
.button.full-width,
input[type="submit"].full-width {
  width: 100%;
  margin: 1em 0;
}

.app {
  margin: auto;
  max-width: 400px;
}

.grudges-search-term {
  background-color: white;
  margin-bottom: 0.5em;
  width: 100%;
}

.grudge {
  border: 1px dashed #f44870;
  padding: 1em;
  margin: 1em 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

  h3 {
    margin-top: 0;
  }
}

.grudge-forgiven {
  color: $color-primary-3;
}

.new-grudge {
  display: flex;
  justify-content: space-between;
}

.new-grudge-input {
  width: 100%;
  flex-basis: 40%;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

  & {
    color: $color-white-1;
  }

  &::placeholder {
    color: $color-white-2;
  }
}

.undo-redo {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}
