$color-primary-1: hsl(346, 89%, 47%);
$color-primary-2: hsl(346, 89%, 57%);
$color-primary-3: hsl(346, 89%, 62%);
$color-primary-4: hsl(346, 89%, 67%);

$color-white-1: hsl(0, 0%, 100%);
$color-white-2: hsl(0, 0%, 95%);

html,
* {
  box-sizing: border-box;
}

body {
  font: caption;
}

input {
  font: caption;
  padding: 0.5em;
  border: 1px solid $color-primary-2;
  background-color: $color-primary-4;

  &:not(:first-of-type) {
    border-left: none;
  }
}

button,
.button,
input[type="submit"] {
  background-color: $color-primary-2;
  border: 1px solid $color-primary-1;
  color: white;
  padding: 0.5em;
  transition: all 0.2s;
}

button:hover,
.button:hover,
input[type="submit"]:hover {
  background-color: $color-primary-4;
}

button:active,
.button:active,
input[type="submit"]:active {
  background-color: $color-primary-3;
}

button.full-width,
.button.full-width,
input[type="submit"].full-width {
  width: 100%;
  margin: 1em 0;
}

.app {
  margin: auto;
  max-width: 400px;
}

.grudges-search-term {
  background-color: white;
  margin-bottom: 0.5em;
  width: 100%;
}

.grudge {
  border: 1px solid $color-primary-3;
  padding: 1em;
  margin: 1em 0;

  h3 {
    margin-top: 0;
  }
}

.grudge-forgiven {
  color: $color-primary-3;
}

.new-grudge {
  display: flex;
}

.new-grudge-input {
  width: 100%;

  & {
    color: $color-white-1;
  }

  &::placeholder {
    color: $color-white-2;
  }
}
